{% from 'hmd-tmpl-transforms/_util/datatype_mapping.j2' import get_type -%}
{% from 'hmd-tmpl-transforms/_util/column_list.sql.j2' import column_list -%}
{% set partition_cols = header_overrides.partition_columns.keys() -%}


create table if not exists {% raw %}{{ ns_context['schema_name'] }}{% endraw %}.{{name}} (
    {{ column_list(columns) }}
    {%- for p_col, datatype in header_overrides.partition_columns.items() %}
    "p_{{ p_col.replace('-', '_') }}" {{ get_type(datatype) }}{{ ', ' if not loop.last else '' }}
    {%- endfor %}
) with (
  format = 'parquet',
  partitioned_by = ARRAY[ {% for p_col in partition_cols %}'p_{{ p_col.replace('-', '_') }}'{{ ', ' if not loop.last else '' }}{% endfor %} ]
)