CREATE OR REPLACE VIEW {% raw %}{{ ns_context['schema_name'] }}{% endraw %}_ux.{{name}} AS
SELECT * FROM {% raw %}{{ ns_context['schema_name'] }}{% endraw %}_final.{{ name }}_{{version.replace('.', '_')}}