.. {{ vars.schema_name }}_final-create-table-{{ name }}

{{ name }} Final Table Creation
=================================================================

Transform that runs Trino SQL statement to create final table for {{ name }} tabular structure to ingest data from staging table.

SQL:
++++

.. code-block:: sql

{% filter indent(width=4)%}
{% include 'hmd-tmpl-transforms/_util/create_table.sql.j2' %}
{% endfilter %}

Default Run Parameters:
+++++++++++++++++++++++

.. code-block:: yaml

    schema_name: {{ vars.schema_name }}_final
    location: TRINO_BUCKET