.. {{ vars.schema_name }}_ux-create-view-{{ name }}

{{ name }} UX View Creation
=================================================================

Transform that runs Trino SQL statement to create a view for {{ name }} tabular structure from final tables to view in dashboards.

SQL:
++++

.. code-block:: sql

{% filter indent(width=4)%}
{% include 'hmd-tmpl-transforms/_util/create_ux_view.sql.j2' %}
{% endfilter %}

Default Run Parameters:
+++++++++++++++++++++++

.. code-block:: yaml

    schema_name: {{ vars.schema_name }}_staging