.. {{ vars.schema_name }}_ux-create-view-{{ name }}

{{ name }} UX View Creation
=================================================================

Transform that runs Trino SQL statement to create a view for {{ name }} tabular structure from final tables to view in dashboards.

SQL:
++++

.. code-block:: sql

    CREATE OR REPLACE VIEW {% raw %}{{ ns_context['schema_name'] }}{% endraw %}.{{name}} AS
    SELECT * FROM {{ vars.schema_name }}_final.{{ name }}

Default Run Parameters:
+++++++++++++++++++++++

.. code-block:: yaml

    schema_name: {{ vars.schema_name }}_staging