{%- extends "hmd-tmpl-transforms/sql_providers/base_provider_transform.yaml.j2" -%}
{%- block params %}
sql: |
    {% include 'hmd-tmpl-transforms/_util/create_source_schema.sql.j2' %}
trino_conn_id: trino_conn
autocommit: true
{%- endblock %}
{%- block run_params %}
schema_name: {{ vars.schema_name }}
location: TRINO_BUCKET
{%- endblock %}